<h1 class="text-center">User listing</h1>

<div class="text-center">
  <%= will_paginate %>
</div>

<% @users.each do |user| %>
<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="well text-center">
      <ul class="listing">
        <li><%= link_to gravatar_for(user), user_path(user) %></li>
        <li><%= link_to user.username, user_path(user) %></li>
        <li><small><%= pluralize(user.articles.count, "article") if !user.articles.empty? %></small></li>
        <% if logged_in? && current_user.admin? %>
        <li><%= link_to "Delete", user_path(user), method: :delete,
                data: { confirm: "Are you sure you want to delete this user and all their articles?"} %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>

<div class="text-center">
  <%= will_paginate %>
</div>
